*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body{
 
    background-repeat: repeat;
    background-image: linear-gradient(to bottom, transparent 0%, #2f2c2c 100%), url('assets//071cf3b707d40ca3aaaa8bdf5727659111.jpg');
} */




/* background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e); */